# Analiza profilu klienta

Dane, których używamy pochodzą z książki "Dane inteligentne" Johna Foremana. 

Zbiór danych zawiera zarówno informacje 

* o marketingowych kampaniach e-mailowych (wysłane oferty e-mail), 
* jak i dane o poziomie transakcji od klientów (na które klienci reagują i co kupili).

Firma prowadzi kampanie handlowe wysyłając do klientów oferty. 

Pobieramy dane z pliku "./WineKMC.xlsx". Co się w nich znajduje?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df_offers = pd.read_excel("./WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

i dane o ilości transakcji poszczegulnych osób

In [2]:
df_transactions = pd.read_excel("./WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

Czego dotyczą dane? 

Są to wystawione oferty sprzedaży win (pierwsza karta) oraz informacja o transakcjach dokonanych przez poszczególnych klientów (druga karta). 

  * Firma będzie tworzyć nowe oferty. 
  * Chcielibyśmy wiedzieć do których klientów skierować poszczególne oferty. 
  * Możemy założyć że klientów jest milion i nie jesteśmy w stanie rozpatrzyć każdego indywidualnie. 
  * Poza tym klient może chcieć kupić coś innego, dlatego nie możemy się kierować tylko tym co już kupił.

# Zad

Stwórzmy tabelę, gdzie 

  * w wierszach są klienci a w kolumnach oferty 
  * dla każdego klienta zaznaczmy czy wybrał daną ofertę (1) czy nie (0).

(100, 33)

offer_id,customer_name,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Adams,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,Allen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,Anderson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Bailey,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,Baker,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

# Zad. 

Podzielmy klientów na grupy (segmenty) - do jednej grupy włączamy podobnych klientów - podobni klienci reagują na podobne oferty. 

Użyjemy Kmeans do grupowania.

In [6]:
from sklearn.cluster import KMeans

Jakie są liczności grup?

1    35
0    22
4    17
2    17
3     9
Name: cluster, dtype: int64

# Zad.

Możemy zwizualizować wynik na płaszczyźnie 

* t-SNE
* PCA

In [ ]:
X = matrix[x_cols]

from sklearn.manifold import TSNE

In [ ]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)

###### Zanalizujmy ostatni klaster.

Dla każdego wina wylistować ilość klientów które go kupili - z klastra 4 i z innych klastrów.

Które wino jest kupowane tylko przez ten klaster, a które wcale?

Spójrzmy na numeryczne atrybuty. Jak jest średnia ilości i rabatu ('min_qty', 'discount')?

Czy ci klienci kupują duże czy małe ilości?