# kmeans - transformacja danych

  * Do zmiany układu współrzędnych (redukcji wymiarowości) używane jest zwykle SVD. 
  * Wynik grupowania można wykorzystać do transformacji (nieliniowej) danych. 
  * Idea podobna jest do metod kernelowych.


ZADANIE: Proszę wziąć dane ecoli z UCI. Podzielić na zbiór testowy i treningowy.

1. Uczymy logistyczną regresję i testujemy (accuracy)

2. 
    * Na zbiorze treningowym robimy k-means (5 klastrów) co daje podział. 
    * Dla każdego punktu liczymy odległość od każdego klastra. 
    * Odległości dają nam nowe współrzędne (tyle ile klastrów). 
    * Na takiej reprezentacji uczymy logistyczną regresję.

Proszę rozważyć odległość 

  * euklidesową do liczenia odległości od klastra 
  * jak również: 

    $$
    d(x,y) = 1-\exp(a \|x-y\|^2),
    $$
    gdzie $a$ to parameter.

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv(filepath_or_buffer='ecoli.dat',  header=None, sep=',')
df.head()

      0     1     2    3     4     5     6   7
0  49.0  29.0  48.0  5.0  56.0  24.0  35.0  cp
1   7.0   4.0  48.0  5.0  54.0  35.0  44.0  cp
2  56.0   4.0  48.0  5.0  49.0  37.0  46.0  cp
3  59.0  49.0  48.0  5.0  52.0  45.0  36.0  cp
4  23.0  32.0  48.0  5.0  55.0  25.0  35.0  cp

Zaprezentuj dane jako macierze:

   * X
   * y

zawierające odpowiednie dane i przydziały do grup.

Podziel dane na train/test

Wykonaj reprezentację 2D za pomocą t-SNE

Wykonaj klastrowanie k-means z k = 5

naucz metodę na X_train
przydziel elementy z X_test do odpowiednich klastrów wykorzystując model nauczony na X_train

Wykonaj reprezentację danych

Wykonaj reprezentację 2D za pomocą t-SNE

Naucz logistyczną regresję na nowej reprezentacji:

Naucz logistyczną regresję na oryginalnych danych:

Porównaj wyniki na zbiorze testującym za pomocą 

```python
accuracy_score
```

# Zad

Co się stanie gdy urzyjesz:
$$
d(x,y) = 1-\exp(a \|x-y\|^2),
$$
gdzie $a$ to parameter.

Dla 

a = 0.0001