# Analiza klientów w podejściu hierarchicznym

# Zad. 

Proszę wziąć zbiór klientów win i dokonać podobnej analizy jak w k-means

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.cluster import KMeans
from scipy.cluster.hierarchy import dendrogram, linkage

Pobieramy dane z pliku "./WineKMC.xlsx". Co się w nich znajduje?

In [3]:
import pandas as pd

df_offers = pd.read_excel("WineKMC.xlsx", sheetname=0)
df_offers.columns = ["offer_id", "campaign", "varietal", "min_qty", "discount", "origin", "past_peak"]
df_offers.head()

,offer_id,campaign,varietal,min_qty,discount,origin,past_peak
0,1,January,Malbec,72,56,France,False
1,2,January,Pinot Noir,72,17,France,False
2,3,February,Espumante,144,32,Oregon,True
3,4,February,Champagne,72,48,France,True
4,5,February,Cabernet Sauvignon,144,44,New Zealand,True

i dane o ilości transakcji poszczegulnych osób

In [4]:
df_transactions = pd.read_excel("datasets/WineKMC.xlsx", sheetname=1)
df_transactions.columns = ["customer_name", "offer_id"]
df_transactions['n'] = 1
df_transactions.head()

  customer_name  offer_id  n
0         Smith         2  1
1         Smith        24  1
2       Johnson        17  1
3       Johnson        24  1
4       Johnson        26  1

# Zad

Stwórzmy tabelę, gdzie 

  * w wierszach są klienci a w kolumnach oferty 
  * dla każdego klienta zaznaczmy czy wybrał daną ofertę (1) czy nie (0).

In [50]:
from scipy.spatial.distance import pdist, squareform
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import fcluster
from sklearn import metrics

# Zad. 

Podzielmy klientów na grupy (segmenty) - do jednej grupy włączamy podobnych klientów - podobni klienci reagują na podobne oferty. 

Użyjemy grupowania hierarchicznego.

In [5]:
from sklearn.manifold import TSNE

# Zad. 

Wypiszmy liczności klastrów na poziomach od 2 do 10 licząc od góry

# Zad:

Prosze wybrać sobie klienta np. Allen. Zobaczmy co preferują (a co nie) ludzie podobni do Allen'a - jakie wina, w jakich ilościach i z jakimi rabatami. Patrzymy na górne poziomy hierarchii.

# Zad.

Jaki typ klijentów reprezentuje każdy klaster?

Jak jest średnia ilości i rabatu?

Jego grupa kupuje w małych ilościach z rabatami większymi niż średnie (ale nieznacznie)